* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --buttoncolor: #0A9250;
    --mycolor: black;
    --pcolor: #8c8d8f;
    --activepcolor: #232324;
    --background: #f1f3f7;
}
body {
    display: flex;
    justify-content: space-between;
}
/* start of left side section css */
.block {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    height: 700px;
    width: 25%;
    margin: 20px 0 20px 20px;
    padding: 20px 0 20px 20px;
    border-radius: 10px;
    background-color: var(--background);
    gap: 250px;
}
.top-section {
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
}
.logo img {
    height: 50px;
}
.logo h1 {
    font-size: 25px;
    margin-top: 10px;
}
.steps {
    padding: 25px 0 0 25px;
}
.steps li {
    padding: 10px 0;
    color: var(--activepcolor);
}
.steps p {
    color: var(--pcolor);
}
.bottom-section {
    border: 2px solid rgb(205, 204, 204);
    border-radius: 5px;
    background-color: white;
    width: 80%;
    padding: 10px 50px;
    margin: 0 20px;
}
.bottom-section a {
    text-decoration: none;
    color: var(--activepcolor);
}
/* end of left side section css */

/* start of right side section css  */
.scan-section {
    width: 75%;
    text-align: center;
    margin: auto;
}
.scan-section h1 {
    padding: 10px 0;
}
.scan-section p {
    padding: 5px;
}
.scan-section img {
    height: 250px;
    border: 1px soild;
}
.or {
    display: flex;
    color: var(--pcolor);
    width: 300px;
    margin: auto;
}
.or::before, .or::after {
    content: " ";
    flex: 1 1;
    border-bottom: 1px solid var(--pcolor);
    margin: auto;
}
.or::before {
    margin-right: 10px;
}
.or::after {
    margin-left: 10px;
}
.scan-section input {
    width: 250px;
    height: 30px;
    border: 1px solid var(--pcolor);
    border-radius: 4px;
}
.scan-section span {
    cursor: pointer;
}
.scan-section button {
    margin: 30px 0;
    padding: 10px 110px;
    border-radius: 5px;
    color: var(--background);
    background-color: var(--buttoncolor);
    border: none;
}
.shapes {
    display: flex;
    gap: 5px;
    padding: 100px 550px 10px;
}
.circle {
    border: 1px solid;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: none;
    background-color: var(--pcolor);
}
.cylinder {
    height: 8px;
    width: 20px;
    border: 1px solid;
    border-radius: 4px;
    border: none;
    background-color: var(--buttoncolor);
}
/* end of right side section css */